<h1> New Article </h1>

<%= form_with model: @article do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :content %>
  <%= t.text_field :content %>
  <%= t.submit %>
<% end %>

<%= link_to 'Back to article List', articles_path %>
