<h1> New Article </h1>
<div class="center"><i class="fa-brands fa-wordpress"></i></div>

<%= form_with model: @article do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :content %>
  <%= t.text_field :content %>
  <%= t.submit %>
<% end %>

<br>

<p><%= link_to 'Back to article List', articles_path %></p>
